<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HackerNews - {% block title %} {% endblock %}</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
  </head>
  <body>
  {% block content %}

 {% endblock %}
 <footer class="bg-gray-200 text-white py-4">
  <div class="container mx-auto text-center">
      <p>Project made by Abu</p>
  </div>
</footer>
  </body>

</html>